[submodule "common/vendor/fmt"]
	path = common/vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "common/vendor/spdlog"]
	path = common/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "io/vendor/rtmidi"]
	path = io/vendor/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "demo/asciiboard/vendor/ftxui"]
	path = demo/asciiboard/vendor/ftxui
	url = git@github.com:ArthurSonzogni/FTXUI.git
[submodule "synth/vendor/portaudio"]
	path = synth/vendor/portaudio
	url = git@github.com:PortAudio/portaudio.git
